/* frame.module.css */

.backhandroundedIcon {
  width: 24px;
  height: 24px;
}

.backhandroundedParent {
  position: relative;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 320px; /* Réduit légèrement l'espace intérieur */
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajoute une légère ombre */
}

.iconButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: transform 0.2s, opacity 0.2s; /* Ajoute une transition douce */
}

.iconButton:focus {
  outline: none; /* Supprime la bordure de focus par défaut */
}

.iconButton:hover {
  transform: scale(1.1); /* Effet de zoom au survol */
}

.iconButton:active {
  opacity: 0.8; /* Légère diminution de l'opacité au clic */
}

.resizeHandle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  background-color: #000;
  cursor: nwse-resize;
}
